@use "./variable.scss" as *;
/* 
==========================================================================
Base by Nguyen App
==========================================================================
*/
html,
body {
	font-family: var(--font-family);
	font-size: var(--text-normal);
	min-height: 100%;
	color: var(--color-text);
	overflow-x: hidden;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	min-height: 100vh;
	flex: 1 0 auto;

	>footer {
		margin-top: auto;
	}

	ul, ol {
		list-style-position: inside;
	}

}
