/* 
==========================================================================
Copyright by Nguyen App
Version: 1.0.0
Author: Nguyen App
Based on the customize tools: GulpJS/SASS/Pug/NodeJS
Website: https://nguyenpham.pro
==========================================================================
*/

// Enable this line to use Tailwind CSS
@use "./tailwind.css";

/*
/ Base
/ Typography
/ Header
/ Footer
/ Accordion
/ Swiper
/ Typography
/ Button
/ Hero
==========================================================================
*/
@use "./core/base.scss";
@use "./core/typography.scss";
@use "./core/header.scss";
@use "./core/footer.scss";
@use "./core/accordion.scss";
@use "./core/swiper.scss";
@use "./core/button.scss";
@use "./core/hero.scss";
/* 
==========================================================================
Merge @media screen
Responsive for all devices
==========================================================================
*/