<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<!-- {{ meta }}-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Nguyen App">
	<meta name="generator" content="Nguyen App - https://nguyenpham.pro">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&amp;display=swap">
	<link rel="stylesheet" href="/css/swiper-bundle.min.css">
	<link rel="stylesheet" href="/css/fancybox.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="/images/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
	<link rel="manifest" href="/images/favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
</head>

<body id="app">
	<!-- Begin Header-->
	<header id="header" role="banner">
		<!-- NAVIGATION-->
		<!-- Header Topbar-->
		<nav class="bg-main text-white" id="header_topbar" role="nav">
			<div class="header_topbar_wrapper">
				<ul>
					<li>
						<a href="/careers">Careers</a>
					</li>
					<li>
						<a href="#">
							<img src="/images/global/secure.svg" alt="Lock Icon">
							<span>Log In</span>
						</a>
					</li>
				</ul>
			</div>
		</nav>
		<!-- Header Mainbar-->
		<nav class="bg-white text-main" id="header_mainbar" role="nav">
			<div class="header_mainbar_wrapper">
				<div class="header_mainbar_logo">
					<a href="/">
						<img src="/images/global/logo.png" alt="Logo">
					</a>
				</div>
				<div id="menu-toggle">
					<div class="open-menu">
						<img src="/images/global/bar.svg" alt="Menu Icon">
					</div>
					<div class="close-menu">
						<img src="/images/global/close.svg" alt="Close Icon">
					</div>
				</div>
				<ul id="nav">
					<li>
						<a href="/about">About Us</a>
					</li>
					<li class="dropdown">
						<a href="/services">Services</a>
						<ul class="dropdown-menu">
							<li>
								<a href="/services/abc">ABC Services</a>
							</li>
							<li>
								<a href="/services/xyz">XYZ Services</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="/contact">Contact Us</a>
					</li>
					<li>
						<a href="/careers">Careers</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<!-- Begin Main-->
	<main role="main">