// Begin Footer
footer#footer.bg-main.text-white(role='contentinfo')
	.footer_wrapper
		.footer_group.footer_group_1
			.footer_logo
				img(src='/images/global/logo-white.png' alt='Logo')
			.text-base
				| ABC Company
				br
				| 1234 XYZ Road.
				br
				| ABC City, TX 76543
			.footer_slogan
				| ABC Slogan
				br
				| &quot;Lorem ipsum dolor sit amet consectetur&quot;
		.footer_group.footer_group_2
			h3.label Quick Links
			ul
				li
					a(href='/about') About Us&nbsp;
				li
					a(href='/services') Services
				li
					a(href='/contact') Contact Us
				li
					a(href='/careers') Careers
		.footer_group.footer_group_3
			h3.label Headquarters
			.footer_address
				.text-base
					| ABC Company
					br
					| 1234 XYZ Road.
					br
					| ABC City, TX 76543
				.text-base
					| ABC Company
					br
					| 1234 XYZ Road.
					br
					| ABC City, TX 76543
	.footer_copyright
		.text-xs
			| &copy;2025 All rights reserved. All trademarks are owned by their respective companies.
		.text-xs
			a(href='/terms') Terms and Conditions
			|  | 
			a(href='/privacy') Privacy Policy
			|  | 
			a(href='/career') Career Opportunities
			|  | 
			a(href='/transparency') Transparency in Coverage
			|  | 
			a(href='https://nguyenpham.pro' target='_blank') Nguyen Pham